<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Font Awesome -->
    <link href="~/Assets/lib/font-awesome/css/all.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- bootstrap 4.3.1 -->
    <link href="~/Assets/lib/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/Assets/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Assets/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/Assets/css/MyCss.css" rel="stylesheet" />
    <link href="~/Assets/Images/LogoLeft.ico" rel="shortcut icon" />
</head>
<body class="hold-transition sidebar-mini text-sm sidebar-open" style="height: auto;">

    <div class="wrapper">
        <!-- Navbar -->
        <nav class=" navbar-expand navbar-light" style="background-color: orange">
            <div class="row">
                <div class="col-md-6 ">
                    <ul class="navbar-nav font-weight-bold">

                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="/" class="nav-link"><img src="~/Assets/Images/binhquoi.jfif" width="39" />Làng du lịch bình quới</a>

                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="/ThongKes/BaoCaoTheoNoiLamViec" class="nav-link p-3"> <i class="fas fa-list-alt"></i> Báo cáo ngày</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 p-2">
                    <span class="float-right">@Html.Partial("_LoginPartial")</span>
                
                </div>
            </div>
            <!-- Left navbar links -->


        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="container">
            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                    @TempData["AlertMessage"]
                </div>
            }

            @RenderBody()

            <footer>
                <div class="float-right d-none d-sm-block">
                    <b>Version</b> 1.0.0
                </div>
                <strong>Copyright © 2020.</strong> Retaurant Managerment.
            </footer>
        </div>
        <!-- /.content-wrapper -->

    </div>

    <!-- /.content-wrapper -->
    <!-- jQuery -->
    <script src="~/Assets/lib/jquery/dist/jquery.js"></script>

    <script src="~/Assets/lib/bootbox.js/bootbox.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Assets/lib/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/Assets/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/Assets/lib/datatables/js/dataTables.bootstrap4.js"></script>

    <!-- AdminLTE App -->
    <script src="~/Assets/lib/dist/js/adminlte.js"></script>
    <script src="~/Assets/lib/jQuery.print/jQuery.print.js"></script>

    <script src="~/Assets/lib/numeral.js/numeral.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(function () {

            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(1000).slideUp(1000);
        });

    </script>
    <style>
        .error {
            color: red;
        }
    </style>
</body>
</html>
