@model QLNhaHang.Models.HoaDonViewModel
<div class="modal fade" id="modal-ThongTinHD" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nhập thông tin hóa đơn</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @if (Model.VanPhong != null)
                {
                    <table class="table mytable text-nowrap listAll">
                        <thead>

                            <tr class="table-info">
                                <th>STT</th>
                                <th>@Html.DisplayNameFor(m => m.ThongTinHDs.FirstOrDefault().SoThuTu)</th>
                                <th>@Html.DisplayNameFor(m => m.ThongTinHDs.FirstOrDefault().So)</th>
                                <th>@Html.DisplayNameFor(m => m.ThongTinHDs.FirstOrDefault().KyHieu)</th>
                                <th>@Html.DisplayNameFor(m => m.ThongTinHDs.FirstOrDefault().QuyenSo)</th>
                                <th>@Html.DisplayNameFor(m => m.ThongTinHDs.FirstOrDefault().MauSo)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @foreach (var item in Model.ThongTinHDs)
                            {

                                <tr class="cursor-pointer tdValTT" data-id="@item.Id">

                                    <td>@i</td>
                                    <td>@Html.DisplayFor(m => item.SoThuTu)</td>
                                    <td>@Html.DisplayFor(m => item.So)</td>
                                    <td>@Html.DisplayFor(m => item.KyHieu)</td>
                                    <td>@Html.DisplayFor(m => item.QuyenSo)</td>
                                    <td>@Html.DisplayFor(m => item.MauSo)</td>
                                </tr>
                                i++;

                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>No data.</span>
                }
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

