@model QLNhaHang.Models.BanViewModel
@using QLNhaHang.Models

@{
    ViewBag.Title = "Edit";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @*<a class="btn btn-outline-info" href="@Url.Action("Create", "KhachHangs", new { strUrl = Model.StrUrl })"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>*@
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Cập nhật bàn</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-warning"></i> Cập nhật bàn</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <form method="post" autocomplete="off">
                <div class="p-4 border rounded">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.StrUrl)
                    @Html.HiddenFor(model => model.Ban.MaBan)
                    @Html.HiddenFor(model => model.Ban.NgayTao)
                    @Html.HiddenFor(model => model.Ban.NguoiTao)

                    <div class="form-group row">

                        <div class="col-6">
                            Mã bàn
                            @Html.TextBoxFor(model => model.Ban.MaBan, null, new { @class = "form-control txtMaBan", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.Ban.MaBan, "", new { @class = "text-danger " })
                        </div>

                        <div class="col-6">
                            Tên bàn
                            @Html.TextBoxFor(model => model.Ban.TenBan, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.TenBanCreate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-6">
                            Cơ sở
                            @Html.DropDownListFor(model => model.Ban.TenVP,
                                         new SelectList(Model.VanPhongs, "Name", "Name", ViewBag.vPName),
                                         htmlAttributes: new { @class = "form-control border-input ddlVanPhong" })
                        </div>

                        <div class="col-6">
                            Khu vực
                            @Html.DropDownListFor(model => model.Ban.KhuVucId,
                                         new SelectList(Model.KhuVucs, "Id", "Name"),
                                         htmlAttributes: new { @class = "form-control border-input ddlKhuVuc" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-6">
                            Số lượng khách
                            @Html.TextBoxFor(model => model.Ban.SoLuongKhach, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.Ban.SoLuongKhach, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-6">
                            Mã số
                            @Html.TextBoxFor(model => model.Ban.MaSo, null, new { @class = "form-control txtMaSo", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.Ban.MaSo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            Ghi chú
                            @Html.TextBoxFor(model => model.Ban.GhiChu, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.Ban.GhiChu, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group ">

                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        @*<a class="btn btn-success" asp-action="DetailsRedirect" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-backward"></i></a>*@
                        <a class="btn btn-success" href="@Url.Action("DetailsRedirect", "BanHangs", new { strUrl = Model.StrUrl })"><i class="fas fa-backward"></i></a>
                    </div>

                </div>
            </form>

        </div>
        <!-- /.card-body -->

        <form action="/Bans/Edit" method="get" id="frmVpName">
            <input type="hidden" name="vpName" id="hidVpName" />
            <input type="hidden" name="maBan" value="@Model.Ban.MaBan" />

        </form>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->

@section Scripts{

    <script src="~/Assets/js/Ban/editController.js"></script>
}