@model QLNhaHang.Models.BanViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-6">
                @*<a class="btn btn-outline-info" href="@Url.Action("Create", "KhachHangs", new { strUrl = Model.StrUrl })"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>*@
            </div>
            <div class="col-sm-6">
                @*<ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Danh sách khách hàng</li>
                    </ol>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-list-alt text-warning"></i> Danh sách bàn

            </h3>

            <div class="card-tools">
                @if (Session["Role"].ToString() != "Users")
                {
                    <a class="btn btn-sm btn-outline-info" href="@Url.Action("Create", "Bans", new { strUrl = Model.StrUrl })"><i class="fas fa-plus"></i>Thêm Mới</a>
                }
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <form action="/Bans/Index" method="get" autocomplete="off">

                <div class="container" style="padding-bottom:10px; background-color: aliceblue;">
                    @* we will add search criteria *@

                    <div class="col-12">
                        <div class="row" style="padding-top: 10px;">

                            @*<div class="col-3">
                                    Nhập thông tin
                                    <input class="form-control" placeholder="Type name, Id..." name="searchString" value="@ViewBag.searchString" />
                                </div>*@

                            <div class="col-3">
                                Theo khu vực
                                @Html.DropDownList("ddlKV",
                                        new SelectList(Model.LoaiViewModels, "Id", "Name", ViewBag.ddlKV),
                                        htmlAttributes: new { @class = "form-control border-input ddlKV" })
                            </div>

                            @*<input type="hidden" name="maBan" id="hidMaBan" />
                            <input type="hidden" name="page" id="hidPage" />*@
                            <input type="hidden" name="idKV" id="hidDdlKV" />

                            <div class="col-3">
                                <br />
                                <button type="submit" class="btn btn-primary form-control" id="btnSubmit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            @*<br />*@

            <div style="overflow-x:auto;">
                @if (Model.Bans.Count() != 0)
                {
                    <table class="table mytable text-nowrap" id="listAll">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>@Html.DisplayNameFor(m => m.Bans.FirstOrDefault().MaBan)</th>
                                <th>@Html.DisplayNameFor(m => m.Bans.FirstOrDefault().TenBan)</th>
                                <th>@Html.DisplayNameFor(m => m.Bans.FirstOrDefault().SoLuongKhach)</th>
                                <th>@Html.DisplayNameFor(m => m.Bans.FirstOrDefault().KhuVucId)</th>
                                <th>@Html.DisplayNameFor(m => m.Bans.FirstOrDefault().TenVP)</th>
                                <th>@Html.DisplayNameFor(m => m.Bans.FirstOrDefault().GhiChu)</th>
                                @if (Session["role"].ToString() != "Users")
                                {
                                    <th>#</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @foreach (var item in Model.Bans)
                            {

                                <tr class="cursor-pointer" @*onclick="location.href = '@(Url.Action("Index", "CapThes", new { maCT = item.MaCapThe }))'"*@>

                                    <td class="tdVal" data-id="@item.MaBan">@i</td>
                                    <td class="tdVal" data-id="@item.MaBan">@Html.DisplayFor(m => item.MaBan)</td>
                                    <td class="tdVal" data-id="@item.MaBan">@Html.DisplayFor(m => item.TenBan)</td>
                                    <td class="tdVal" data-id="@item.MaBan">@Html.DisplayFor(m => item.SoLuongKhach)</td>
                                    <td class="tdVal" data-id="@item.MaBan">@Html.DisplayFor(m => item.KhuVuc.Name)</td>
                                    <td class="tdVal" data-id="@item.MaBan">@Html.DisplayFor(m => item.TenVP)</td>
                                    <td class="tdVal" data-id="@item.MaBan">@Html.DisplayFor(m => item.GhiChu)</td>
                                    @if (Session["role"].ToString() != "Users")
                                    {
                                        <td>
                                            @*<a class="btn btn-primary" href="@Url.Action("Edit", "KhachHangs", new { maKH = item.MaKH, strUrl = Model.StrUrl })"><i class="fas fa-edit"></i></a>*@
                                            <div class="btn-group">
                                                <form action="/Bans/Delete" @*asp-route-id="@item.Id"*@ method="post">

                                                    <input type="hidden" name="strUrl" value="@Model.StrUrl" />
                                                    <input type="hidden" name="maBan" value="@item.MaBan" />
                                                    <span id="confirmDeleteSpan_@item.MaBan" style="display: none">
                                                        <span class="text-dark text-bold">Xóa?</span>
                                                        <button type="submit" class="btn btn-danger">Yes</button>
                                                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@item.MaBan', false)">No</a>
                                                    </span>

                                                    <span id="deleteSpan_@item.MaBan">
                                                        <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('@item.MaBan', true)" title="Xóa"><i class="fas fa-trash-alt"></i></a>
                                                    </span>
                                                </form>
                                                <a class="btn btn-sm btn-outline-info" href="@Url.Action("Edit", "Bans", new { strUrl = Model.StrUrl, maBan = item.MaBan })" title="Cập nhật"><i class="fas fa-edit"></i></a>
                                            </div>
                                        </td>
                                    }
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span> Không có dử liệu trong bảng. </span>
                }
                @Html.PagedListPager(Model.Bans, page => Url.Action("Index",
                                new
                                     {
                                         page,
                                         @searchString = @ViewBag.searchString
                                     }))
            </div>

        </div>
    </div>
    <!-- /.card -->
</section>

<!-- Main content -->
<section class="content" hidden>

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            @if (Model.Ban.TenBan != null)
            {
                <h3 class="card-title"><i class="fas fa-list-alt text-warning"></i> Chi tiết bàn -<b> @Model.Ban.TenBan</b></h3>
            }
            else
            {
                <h3 class="card-title"><i class="fas fa-list-alt text-warning"></i> Chi tiết bàn </h3>
            }

            <div class="card-tools">
                @if (Session["Role"].ToString() != "Users")
                {
                    <a class="btn btn-sm btn-outline-info" href="@Url.Action("Edit", "Bans", new { strUrl = Model.StrUrl, maBan = Model.Ban.MaBan })"><i class="fas fa-edit"></i> Cập nhật</a>
                }
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <div class="p-4 border rounded">

                <div class="form-group row">

                    <div class="col-2">
                        Mã Bàn
                        @Html.TextBoxFor(model => model.Ban.MaBan, null, new { @class = "form-control ", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.Ban.MaBan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-2">
                        Tên bàn
                        @Html.TextBoxFor(model => model.Ban.TenBan, null, new { @class = "form-control ", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.Ban.TenBan, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-2">
                        Số lượng khách
                        @Html.TextBoxFor(model => model.Ban.SoLuongKhach, null, new { @class = "form-control ", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.Ban.SoLuongKhach, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-2">
                        Văn phòng
                        @Html.TextBoxFor(model => model.Ban.TenVP, null, new { @class = "form-control ", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.Ban.TenVP, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-4">
                        Ghi chú
                        @Html.TextBoxFor(model => model.Ban.GhiChu, null, new { @class = "form-control ", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.Ban.GhiChu, "", new { @class = "text-danger" })
                    </div>

                </div>

            </div>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->

@section Scripts{

    <script src="~/Assets/js/Ban/indexController.js"></script>
    <script>
        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
    </script>

    <script>
        $('#listAll').DataTable({
            "paging": false,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    </script>

    <style>
        .cursor-pointer:hover {
            /*background-color: #3E5C9A;*/
            background-color: #ffc107 !important;
            cursor: pointer;
            color: white;
        }

        /*.cursor-pointer {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }*/
        #listAll {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .hoverClass {
            background-color: #3E5C9A;
            color: white;
        }
    </style>
}

