@model QLNhaHang.Models.HoaDonViewModel
@{
    ViewBag.Title = "Hoa Don Tu dong";

    //var roleName = Session["role"].ToString();
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                @*<a class="btn btn-outline-info" asp-action="Create" asp-route-strUrl="#"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>*@
            </div>
            <div class="col-sm-6">
                @*<ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Danh Sách Cấp Thẻ</li>
                    </ol>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            @if (Model.HoaDon != null)
            {
                <h3 class="card-title"><i class="fas fa-list-alt text-warning"></i> Thông tin hóa đơn - <b>@Model.HoaDon.MaHD</b></h3>
            }
            else
            {
                <h3 class="card-title"><i class="fas fa-list-alt text-warning"></i> Thông tin hóa đơn</h3>
            }

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <div class="card-body">
            <form method="post" autocomplete="off">
                <fieldset class="groupbox-border ">
                    <legend class="groupbox-border">Thông tin hoá đơn </legend>

                    <div class="form-group row">

                        @*<div class="col-md-2">
                                Số thứ tự
                                <div class="input-group input-group">
                                    @Html.TextBoxFor(model => model.VanPhong.SoThuTu, null, new { @class = "form-control txtSTT" })
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-secondary btn-flat" data-toggle="modal" data-target="#modal-ThongTinHD"><i class="fas fa-search"></i></button>
                                    </span>
                                    @Html.ValidationMessageFor(model => model.VanPhong.SoThuTu, "", new { @class = "text-danger" })

                                </div>

                            </div>*@

                        <div class="col-md-2">
                            Số hóa đơn
                            @Html.TextBoxFor(model => model.VanPhong.So, new { @class = "form-control txtSoHD" })
                            @Html.ValidationMessageFor(model => model.VanPhong.So, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-2">
                            Ký hiệu
                            @Html.TextBoxFor(model => model.VanPhong.KyHieu, null, new { @class = "form-control txtKyHieu" })
                            @Html.ValidationMessageFor(model => model.VanPhong.KyHieu, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            Quyển số
                            @Html.TextBoxFor(model => model.VanPhong.QuyenSo, new { @class = "form-control txtQuyenSo" })
                            @Html.ValidationMessageFor(model => model.VanPhong.QuyenSo, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-2">
                            Mẫu số
                            @Html.TextBoxFor(model => model.VanPhong.MauSo, null, new { @class = "form-control txtMauSo" })
                            @Html.ValidationMessageFor(model => model.VanPhong.MauSo, "", new { @class = "text-danger" })

                        </div>

                        <div class="col-md-2">
                            HTTT
                            @Html.TextBoxFor(model => model.HoaDon.HTThanhToan, null, new { @class = "form-control txtHTTT" })
                            @Html.ValidationMessageFor(model => model.HoaDon.HTThanhToan, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-md-2">
                            Tỷ lệ PPV(5%)
                            @Html.TextBoxFor(model => model.TyLePPV, null, new { @class = "form-control txtPPV", @type = "number" })

                        </div>
                        <div class="col-md-2">
                            Tiền PPV
                            @*@Html.TextBoxFor(model => model.ThanhTienVAT, "{0:N0}", new { @class = "form-control txtThanhTienVAT ", @readonly = "true" })*@
                            @Html.TextBoxFor(model => model.TienPPV, null, new { @class = "form-control numbers", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.TienPPV, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            Thành tiền(PPV)
                            @*@Html.TextBoxFor(model => model.ThanhTienVAT, "{0:N0}", new { @class = "form-control txtThanhTienVAT ", @readonly = "true" })*@
                            @Html.TextBoxFor(model => model.ThanhTienSauPPV, null, new { @class = "form-control numbers", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.ThanhTienSauPPV, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-2">
                            VAT(10%)
                            @Html.TextBoxFor(model => model.VAT, null, new { @class = "form-control txtVAT", @type = "number" })

                        </div>
                        <div class="col-md-2">
                            Tiền VAT
                            @*@Html.TextBoxFor(model => model.ThanhTienVAT, "{0:N0}", new { @class = "form-control txtThanhTienVAT ", @readonly = "true" })*@
                            @Html.TextBoxFor(model => model.TienThueVAT, null, new { @class = "form-control numbers", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.TienThueVAT, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            Tổng tiền
                            @*@Html.TextBoxFor(model => model.ThanhTienVAT, "{0:N0}", new { @class = "form-control txtThanhTienVAT ", @readonly = "true" })*@
                            @Html.TextBoxFor(model => model.ThanhTienVAT, null, new { @class = "form-control numbers", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.ThanhTienVAT, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    @*<div class="form-group ">
                            <a class="btn btn-success" href="@Url.Action("DetailsRedirect", "BanHangs", new { strUrl = Model.StrUrl })"><i class="fas fa-backward"></i></a>
                        </div>*@
                </fieldset>

                <fieldset class="groupbox-border ">
                    <legend class="groupbox-border">Thông tin khách hàng </legend>

                    <div class="form-group row">

                        <div class="col-md-2">
                            Mã KH
                            <div class="input-group input-group">
                                @Html.TextBoxFor(model => model.KhachHang.MaKH, null, new { @class = "form-control " })
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary btn-flat" data-toggle="modal" data-target="#modal-KhachHangModal"><i class="fas fa-search"></i></button>
                                </span>
                                @Html.ValidationMessageFor(model => model.KhachHang.MaKH, "", new { @class = "text-danger" })

                            </div>

                        </div>

                        <div class="col-md-3">
                            Họ tên
                            @Html.TextBoxFor(model => model.KhachHang.TenKH, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.KhachHang.TenKH, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            Giới tính <br />
                            @Html.TextBoxFor(model => model.KhachHang.GioiTinh, null, new { @class = "form-control " })
                        </div>

                        <div class="col-md-3">
                            Email
                            @Html.TextBoxFor(model => model.KhachHang.Email, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.KhachHang.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-2">
                            Phone
                            @Html.TextBoxFor(model => model.KhachHang.Phone, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.KhachHang.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            MST
                            @Html.TextBoxFor(model => model.KhachHang.MaSoThue, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.KhachHang.MaSoThue, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-5">
                            Địa chỉ
                            @Html.TextBoxFor(model => model.KhachHang.DiaChi, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.KhachHang.DiaChi, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-5">
                            Tên đơn vị
                            @Html.TextBoxFor(model => model.KhachHang.TenDonVi, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.KhachHang.TenDonVi, "", new { @class = "text-danger" })
                        </div>

                    </div>

                </fieldset>
                <br />
                <div class="form-group ">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-save"></i></button>
                    <a class="btn btn-success" href="@Url.Action("DetailsRedirect", "BanHangs", new { strUrl = Model.StrUrl })"><i class="fas fa-backward"></i></a>
                </div>
            </form>
        </div>

    </div>
    <!-- /.card -->
</section>

<form id="frmThongTinHD" action="/HoaDons/HoaDonTuDong">
    <input type="hidden" name="maHD" value="@Model.HoaDon.MaHD" />
    <input type="hidden" name="strUrl" value="@Model.StrUrl" />
    <input type="hidden" name="maKH" value="@Model.KhachHang.MaKH" />
    <input type="hidden" name="vat" value="@Model.VAT" />
    <input type="hidden" name="ppv" value="@Model.TyLePPV" />
    <input type="hidden" id="hidMaThongTinHDId" name="maThongTinHDId" />


</form>
<form id="frmKhachHang" action="/HoaDons/HoaDonTuDong">
    <input type="hidden" name="maHD" value="@Model.HoaDon.MaHD" />
    <input type="hidden" name="strUrl" value="@Model.StrUrl" />
    <input type="hidden" name="maThongTinHDId" value="@Model.ThongTinHD.Id" />
    <input type="hidden" name="vat" value="@Model.VAT" />
    <input type="hidden" name="ppv" value="@Model.TyLePPV" />
    <input type="hidden" id="hidMaKH" name="maKH" />
</form>

<form id="frmVAT" action="/HoaDons/HoaDonTuDong">
    <input type="hidden" name="maHD" value="@Model.HoaDon.MaHD" />
    <input type="hidden" name="strUrl" value="@Model.StrUrl" />
    <input type="hidden" name="maThongTinHDId" value="@Model.ThongTinHD.Id" />
    <input type="hidden" name="maKH" value="@Model.KhachHang.MaKH" />
    <input type="hidden" name="ppv" value="@Model.TyLePPV" />
    <input type="hidden" id="hidVAT" name="vat" />
</form>

<form id="frmPPV" action="/HoaDons/HoaDonTuDong">
    <input type="hidden" name="maHD" value="@Model.HoaDon.MaHD" />
    <input type="hidden" name="strUrl" value="@Model.StrUrl" />
    <input type="hidden" name="maThongTinHDId" value="@Model.ThongTinHD.Id" />
    <input type="hidden" name="maKH" value="@Model.KhachHang.MaKH" />
    <input type="hidden" name="vat" value="@Model.VAT" />
    <input type="hidden" id="hidPPV" name="ppv" />
    <input type="hidden" id="hidSoTien" name="sotien" />
</form>
@*@Html.Partial("~/Views/Shared/_ThongTinHDInVPModal.cshtml", Model)*@
@Html.Partial("~/Views/Shared/_KhachHangModal.cshtml", Model)

@section Scripts{
    <script>
        //$('.cursor-pointer').click(function () {
        //    //$(".imgBan").src("~/Assets/Images/Empty_Desk.jpg");
        //    //$(".imgBan").click(function () {
        //    //    // Change src attribute of image
        //    //    $(this).attr("src", "Assets/Images/Desk.jpg");
        //    //});
        //    if ($(this).hasClass("bg-warning")) {
        //        $(this).removeClass("bg-warning");

        //    }
        //    else {
        //        $('.card.bg-warning').removeClass("bg-warning");
        //        $('.card-body').removeClass("text-warning");
        //        $(this).addClass("bg-warning");
        //    }

        //});

        $('.listAll').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
                                                //"iDisplayLength": 5
    </script>
    <style>
        .cursor-pointer:hover {
            /*background-color: #3E5C9A;*/
            background-color: #ffc107 !important;
            cursor: pointer;
            color: white;
        }

        .cursor-pointer {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }


        .hoverClass {
            background-color: #3E5C9A;
            color: white;
        }
    </style>

    <script src="~/Assets/js/HoaDon/hoaDonTuDongController.js"></script>
    @*<script src="~/Assets/js/HoaDon/modalTTHDController.js"></script>*@
}