@model QLNhaHang.Models.BanHangViewModel
@using QLNhaHang.Data.Models

@{
    ViewBag.Title = "Goi Mon";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @*<a class="btn btn-outline-info" asp-action="Create" asp-route-strUrl="#"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>*@
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Gọi món</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-warning"></i> Gọi món</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <form method="post" autocomplete="off">
                <div class="p-4 border rounded">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group row">

                        <div class="col-2">
                            @Html.LabelFor(model => model.MonDaGoi.ThucDonId, "ThucDonId", htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="col-4">
                            @Html.DropDownList("ThucDonId",
                                 new SelectList((List<ThucDon>)TempData["thucDon"], "Id", "TenMon"),
                                 htmlAttributes: new { @class = "form-control border-input" })
                            @Html.ValidationMessageFor(model => model.MonDaGoi.ThucDonId, "", new { @class = "text-danger" })

                            @Html.ValidationMessageFor(model => model.MonDaGoi.ThucDonId, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-2">
                            @Html.LabelFor(model => model.ThucDon.GiaTien, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-4">
                            @Html.EditorFor(model => model.ThucDon.GiaTien, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ThucDon.GiaTien, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-2">
                            @Html.LabelFor(model => model.MonDaGoi.SoLuong, htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="col-4">
                            @Html.EditorFor(model => model.MonDaGoi.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MonDaGoi.SoLuong, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-2">
                            @Html.LabelFor(model => model.MonDaGoi.ThanhTien, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-4">
                            @Html.EditorFor(model => model.MonDaGoi.ThanhTien, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MonDaGoi.ThanhTien, "", new { @class = "text-danger" })
                        </div>


                    </div>



                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        @*<a class="btn btn-success" asp-action="DetailsRedirect" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-backward"></i></a>*@
                        <a class="btn btn-success" href="@Url.Action("DetailsRedirect", "BanHangs", new { strUrl = Model.StrUrl})"><i class="fas fa-backward"></i></a>
                    </div>

                </div>

            </form>

        </div>
    </div>
    <!-- /.card -->
</section>

