@model QLNhaHang.Models.ChangePassModel
@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box ">
    <div class="login-logo ">
        <a href=""><b>Đổi Mật Khẩu</b> </a>
    </div>
    <!-- /.login-logo -->
 @*   @*<div class="card ">
        <div class="card-body login-card-body ">*@

            <form method="post" autocomplete="off">

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="input-group mb-3">
                    @Html.TextBoxFor(model => model.Username, null, new { @class = "form-control ", placeholder = "Username" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(model => model.Password, null, new { @class = "form-control ", type = "password", placeholder = "Password" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                
                <div class="input-group mb-3">
                    @Html.TextBoxFor(model => model.NewPassword, null, new { @class = "form-control ", type = "password", placeholder = "New Password" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                
                <div class="input-group mb-3">
                    @Html.TextBoxFor(model => model.Confirmpassword, null, new { @class = "form-control ", type = "password", placeholder = "Confirm Password" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <button type="submit" class="btn btn-primary btn-block">Đồng ý</button>

                </div>
            </form>

        @*</div>*@
        <!-- /.login-card-body -->
    @*</div>*@
</div>
<style>
    .cursor-pointer {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>

