@model QLNhaHang.Models.ThongKeViewModel

@{
    ViewBag.Title = "BaoCaoTheoNhanVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                @*<a class="btn btn-outline-info" asp-action="Create" asp-route-strUrl="#"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>*@
            </div>
            <div class="col-sm-6">
                @*<ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Danh Sách Cấp Thẻ</li>
                    </ol>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-warning"></i> Báo cáo theo nhân viên</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">

                        <div class="col-md-2">
                            @Html.LabelFor(model => model.TuNgay, htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.TuNgay, null, new { @class = "form-control maskInput txtTuNgay", @value = ViewBag.searchFromDate })
                            @Html.ValidationMessageFor(model => model.TuNgay, "", new { @class = "text-danger" })
                        </div>


                        <div class="col-md-2">
                            @Html.LabelFor(model => model.DenNgay, htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.DenNgay, null, new { @class = "form-control maskInput txtDenNgay", @value = ViewBag.searchToDate })
                            @Html.ValidationMessageFor(model => model.DenNgay, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="col-md-2">
                            <label class="control-label">Cơ sở</label>
                            @Html.DropDownListFor(model => model.VanPhongId,
                                                    new SelectList(Model.VanPhongs, "Id", "Name", @ViewBag.vanPhong),
                                                    htmlAttributes: new { @class = "form-control border-input ddlVanPhong" })
                        </div>*@

                        <div class="col-md-4">
                            <label class="control-label">Khu vực</label>
                            @Html.DropDownListFor(model => model.KhuVucId,
                                                    new SelectList(Model.KhuVucs, "Id", "Name", @ViewBag.khuVuc),
                                                    htmlAttributes: new { @class = "form-control border-input ddlKhuVuc", @id = "ddlKhuVuc" })
                        </div>

                        <div class="col-md-2">
                            <label class="control-label">Nhân viên</label>
                            @Html.DropDownListFor(model => model.NhanVienId,
                                                    new SelectList(Model.NhanViens, "MaNV", "Username", @ViewBag.nhanVien),
                                                    htmlAttributes: new { @class = "form-control border-input ", @id = "dropDown" })
                        </div>


                        <div class="form-group">

                            <div class="col-md-offset-2 col-md-10">
                                <label class="control-label"><br /></label>
                                <input type="submit" value="Export" class="btn btn-default" />
                            </div>
                        </div>
                    </div>


                </div>
            }

            <form action="/ThongKes/BaoCaoTheoNhanVien" id="frmTheoNhanVien">
                    <input type="hidden" name="tuNgay" id="hidTuNgay" />
                    <input type="hidden" name="denNgay" id="hidDenNgay" />
                    
                    <input type="hidden" name="khuVucId" id="hidKhuVucId" />
                </form>

        </div>
    </div>
    <!-- /.card -->
</section>

@section Scripts{

    <script src="~/Assets/js/ThongKe/baoCaoTheoNVController.js"></script>
    <script>
        $(function () {
            $('#dropDown').select2();
            $('#ddlKhuVuc').select2();
        });
    </script>
}