@model QLNhaHang.Models.NhanVienViewModel

@{
    ViewBag.Title = "Edit";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @*<a class="btn btn-outline-info" href="@Url.Action("Create", "KhachHangs", new { strUrl = Model.StrUrl })"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>*@
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Cập nhật nhân viên</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-warning"></i> Cập nhật nhân viên - <b>@Model.NhanVien.MaNV</b></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <form method="post" autocomplete="off">
                <div class="p-4 border rounded">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.StrUrl)
                    @Html.HiddenFor(model => model.NhanVien.MaNV)
                    @Html.HiddenFor(model => model.NhanVien.NgayTao)
                    @Html.HiddenFor(model => model.NhanVien.NguoiTao)
                    @Html.HiddenFor(model => model.OldPass)

                    <div class="form-group row">

                        <div class="col-6">
                            Mã NV
                            @Html.TextBoxFor(model => model.NhanVien.MaNV, null, new { @class = "form-control txtMaNV", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.NhanVien.MaNV, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-6">
                            Họ tên
                            @Html.TextBoxFor(model => model.NhanVien.HoTen, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.NhanVien.HoTen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            Username
                            @Html.TextBoxFor(model => model.NhanVien.Username, null, new { @class = "form-control ", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.NhanVien.Username, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-6">
                            Password
                            @Html.TextBoxFor(model => model.EditPassword, null, new { @class = "form-control ", @type = "password"  })
                            @Html.ValidationMessageFor(model => model.EditPassword, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group row">

                        <div class="col-6">
                            Role
                            @Html.DropDownListFor(model => model.NhanVien.Role,
                                        new SelectList(Model.Roles, "Name", "Name"),
                                        htmlAttributes: new { @class = "form-control border-input ddlRole" })
                        </div>
                        <div class="col-6">
                            Phòng ban
                            @Html.TextBoxFor(model => model.NhanVien.PhongBan, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.NhanVien.PhongBan, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-6">
                            Khu vực
                            @Html.DropDownListFor(model => model.NhanVien.KhuVucId,
                                        new SelectList(Model.LoaiViewModels, "Id", "Name"),
                                        htmlAttributes: new { @class = "form-control border-input ddlKV" })
                        </div>

                        <div class="col-6">
                            Chức vụ
                            @Html.TextBoxFor(model => model.NhanVien.ChucVu, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.NhanVien.ChucVu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            Địa chỉ
                            @Html.TextBoxFor(model => model.NhanVien.DiaChi, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.NhanVien.DiaChi, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-6">
                            Điện thoại
                            @Html.TextBoxFor(model => model.NhanVien.DienThoai, null, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.NhanVien.DienThoai, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            Giới tính
                            @Html.DropDownListFor(model => model.NhanVien.GioiTinh,
                                        new SelectList(Model.GioiTinhs, "Id", "Name"),
                                        htmlAttributes: new { @class = "form-control border-input " })
                        </div>

                        <div class="col-6">
                            Ngày sinh
                            @Html.TextBoxFor(model => model.NgaySinh, null, new { @class = "form-control maskInput" })
                            @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group row">

                        <div class="col-6">
                            Trạng thái
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(model => model.NhanVien.TrangThai, new { @class = "custom-control-input", @id = "customCheckbox1" })
                                <label for="customCheckbox1" class="custom-control-label "></label>
                            </div>
                            @Html.ValidationMessageFor(model => model.NhanVien.TrangThai, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-6">
                            Nơi làm việc
                            @Html.DropDownListFor(model => model.NhanVien.NoiLamViec,
                                        new SelectList(Model.NoiLamViecs, "Name", "Name"),
                                        htmlAttributes: new { @class = "form-control border-input ddlNoiLamViec" })
                        </div>
                    </div>

                    <div class="form-group ">

                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        @*<a class="btn btn-success" asp-action="DetailsRedirect" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-backward"></i></a>*@
                        <a class="btn btn-success" href="@Url.Action("DetailsRedirect", "BanHangs", new { strUrl = Model.StrUrl })"><i class="fas fa-backward"></i></a>
                    </div>

                </div>
            </form>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
@section Scripts{
    <script src="~/Assets/js/NhanVien/editController.js"></script>
}