@model QLNhaHang.Models.NhanVienViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-6">
                @*<a class="btn btn-outline-info" href="@Url.Action("Create", "KhachHangs", new { strUrl = Model.StrUrl })"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>*@
            </div>
            <div class="col-sm-6">
                @*<ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Danh sách khách hàng</li>
                    </ol>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-list-alt text-warning"></i> Danh sách nhân viên
            </h3>

            <div class="card-tools">
                @if ((string)Session["role"] != "Users")
                {
                    <a class="btn btn-sm btn-outline-info" href="@Url.Action("Create", "Accounts", new { strUrl = Model.StrUrl })"><i class="fas fa-plus"></i>Thêm Mới</a>
                }
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <form action="/Accounts/Index" method="get" autocomplete="off">

                <div class="container" style="padding-bottom:10px; background-color: aliceblue;">
                    @* we will add search criteria *@

                    <div class="col-12">
                        <div class="row" style="padding-top: 10px;">

                            <div class="col-3">
                                Nhập thông tin
                                @*@Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", @value="@ViewData["currentFilter"]" } })*@
                                <input class="form-control" placeholder="Type name, Id..." name="searchString" value="@ViewBag.searchString" />
                            </div>

                            <div class="col-3">
                                Giới tính
                                @Html.DropDownList("gioiTinh",
                                         new SelectList(Model.GioiTinhs, "Id", "Name"),
                                         htmlAttributes: new { @class = "form-control border-input gioiTinh" })
                            </div>

                            @*<input type="hidden" name="gioiTinh" id="hidGioiTinh" />*@
                            <input type="hidden" name="maNV" id="hidMaNV" />
                            <input type="hidden" name="page" id="hidPage" />
                            <div class="col-3">
                                <br />
                                <button type="submit" class="btn btn-primary form-control" id="btnSubmit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br />

            <div style="overflow-x:auto;">
                @if (Model.NhanViens.Count() != 0)
                {
                    <table class="table mytable text-nowrap" id="listAll">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>@Html.DisplayNameFor(m => m.NhanViens.FirstOrDefault().HoTen)</th>
                                <th>@Html.DisplayNameFor(m => m.NhanViens.FirstOrDefault().Username)</th>
                                <th>@Html.DisplayNameFor(m => m.NhanViens.FirstOrDefault().Role.Name)</th>
                                <th>@Html.DisplayNameFor(m => m.NhanViens.FirstOrDefault().PhongBan)</th>
                                <th>@Html.DisplayNameFor(m => m.NhanViens.FirstOrDefault().VanPhong.Name)</th>
                                <th>@Html.DisplayNameFor(m => m.NhanViens.FirstOrDefault().TrangThai)</th>
                                @if (Session["role"].ToString() != "Users")
                                {
                                    <th>#</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @foreach (var item in Model.NhanViens)
                            {

                                <tr class="cursor-pointer" @*onclick="location.href = '@(Url.Action("Index", "CapThes", new { maCT = item.MaCapThe }))'"*@>

                                    <td class="tdVal" data-id="@item.MaNV">@i</td>
                                    <td class="tdVal" data-id="@item.MaNV">@Html.DisplayFor(m => item.HoTen)</td>
                                    <td class="tdVal" data-id="@item.MaNV">@Html.DisplayFor(m => item.Username)</td>
                                    <td class="tdVal" data-id="@item.MaNV">@Html.DisplayFor(m => item.Role.Name)</td>
                                    <td class="tdVal" data-id="@item.MaNV">@Html.DisplayFor(m => item.PhongBan)</td>
                                    <td class="tdVal" data-id="@item.MaNV">@Html.DisplayFor(m => item.VanPhong.Name)</td>
                                    <td class="tdVal" data-id="@item.MaNV">
                                        @if (item.TrangThai)
                                        {
                                            <span class="label label-success">Kích hoạt</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Kích hoạt</span>
                                        }
                                    </td>
                                    @if (Session["role"].ToString() != "Users")
                                    {
                                        <td>
                                            @*<a class="btn btn-primary" href="@Url.Action("Edit", "KhachHangs", new { maKH = item.MaKH, strUrl = Model.StrUrl })"><i class="fas fa-edit"></i></a>*@
                                            <form action="/Accounts/Delete" @*asp-route-id="@item.Id"*@ method="post">

                                                <input type="hidden" name="strUrl" value="@Model.StrUrl" />
                                                <input type="hidden" name="maNV" value="@item.MaNV" />
                                                <span id="confirmDeleteSpan_@item.MaNV" style="display: none">
                                                    <span class="text-dark text-bold">Xóa?</span>
                                                    <button type="submit" class="btn btn-danger">Yes</button>
                                                    <a href="#" class="btn btn-primary" onclick="confirmDelete('@item.MaNV', false)">No</a>
                                                </span>

                                                <span id="deleteSpan_@item.MaNV">
                                                    <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('@item.MaNV', true)"><i class="fas fa-trash-alt"></i></a>
                                                </span>
                                            </form>
                                        </td>
                                    }
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span> Không có dử liệu trong bảng. </span>
                }
                @Html.PagedListPager(Model.NhanViens, page => Url.Action("Index",
                                new
                                     {
                                         page,
                                         @searchString = @ViewBag.searchString
                                     }))
            </div>

        </div>
    </div>
    <!-- /.card -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            @if (Model.NhanVien.HoTen != null)
            {
                <h3 class="card-title"><i class="fas fa-list-alt text-warning"></i> Chi tiết NV -<b> @Model.NhanVien.HoTen</b></h3>
            }
            else
            {
                <h3 class="card-title"><i class="fas fa-list-alt text-warning"></i> Chi tiết NV </h3>
            }

            <div class="card-tools">
                @if (Model.NhanVien.HoTen != null && (string)Session["role"] != "Users")
                {
                    <a class="btn btn-sm btn-outline-info" href="@Url.Action("Edit", "Accounts", new { strUrl = Model.StrUrl, maNV = Model.NhanVien.MaNV })"><i class="fas fa-edit"></i> Cập nhật</a>
                }
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <div class="p-4 border rounded">

                <div class="form-group row">

                    <div class="col-2">
                        Mã NV
                        @Html.TextBoxFor(model => model.NhanVien.MaNV, null, new { @class = "form-control ", @readonly = "true" })
                    </div>

                    <div class="col-2">
                        Họ tên
                        @Html.TextBoxFor(model => model.NhanVien.HoTen, null, new { @class = "form-control ", @readonly = "true" })
                    </div>

                    <div class="col-2">
                        Ngày sinh
                        @Html.TextBoxFor(model => model.NhanVien.NgaySinh, "{0:dd/MM/yyyy}", new { @class = "form-control ", @readonly = "true" })
                    </div>

                    <div class="col-2">
                        Giới tính
                        @Html.TextBoxFor(model => model.NhanVien.GioiTinh, null, new { @class = "form-control ", @readonly = "true" })
                    </div>

                    <div class="col-4">
                        Địa chỉ
                        @Html.TextAreaFor(model => model.NhanVien.DiaChi, new { @class = "form-control ", @readonly = "true" })
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-2">
                        Điện thoại
                        @Html.TextBoxFor(model => model.NhanVien.DienThoai, null, new { @class = "form-control ", @readonly = "true" })
                    </div>

                    <div class="col-2">
                        Chức vụ
                        @Html.TextBoxFor(model => model.NhanVien.ChucVu, null, new { @class = "form-control ", @readonly = "true" })
                    </div>

                    <div class="col-2">
                        Username
                        @Html.TextBoxFor(model => model.NhanVien.Username, null, new { @class = "form-control ", @readonly = "true" })
                    </div>

                    <div class="col-2">
                        Trạng thái
                        @if (Model.NhanVien.MaNV != null)
                        {
                            if (Model.NhanVien.TrangThai)
                            {
                                <br />
                                <span class=" badge badge-success">Kích hoạt</span>
                            }
                            if (!Model.NhanVien.TrangThai)
                            {
                                <br />
                                <span class=" badge badge-danger">khóa</span>
                            }
                        }


                    </div>

                    <div class="col-2">
                        Người tạo
                        @Html.TextBoxFor(model => model.NhanVien.NguoiTao, new { @class = "form-control ", @readonly = "true" })
                    </div>
                    <div class="col-2">
                        Người cập nhật
                        @Html.TextBoxFor(model => model.NhanVien.NguoiCapNhat, new { @class = "form-control ", @readonly = "true" })
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-2">
                        Role
                        @Html.TextBoxFor(model => model.NhanVien.Role.Name, null, new { @class = "form-control ", @readonly = "true" })
                    </div>

                    <div class="col-2">
                        Phòng ban
                        @Html.TextBoxFor(model => model.NhanVien.PhongBan, null, new { @class = "form-control ", @readonly = "true" })
                    </div>

                    <div class="col-2">
                        Văn phòng
                        @Html.TextBoxFor(model => model.NhanVien.VanPhong.Name, null, new { @class = "form-control ", @readonly = "true" })
                    </div>

                </div>

            </div>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->

@section Scripts{

    <script src="~/Assets/js/NhanVien/indexController.js"></script>
    <script>
        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
    </script>
    <style>
        .cursor-pointer:hover {
            /*background-color: #3E5C9A;*/
            background-color: #ffc107 !important;
            cursor: pointer;
            color: white;
        }

        .cursor-pointer {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .hoverClass {
            background-color: #3E5C9A;
            color: white;
        }
    </style>
}

