@model QLNhaHang.Models.MonDaGoiViewModel
@using QLNhaHang.Data.Models

@{
    ViewBag.Title = "Goi Mon";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @*<a class="btn btn-outline-info" asp-action="Create" asp-route-strUrl="#"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>*@
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Gọi món</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-warning"></i> Gọi món - @Model.Ban.TenBan</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            @*@using (Html.BeginForm())*@

            <form method="post" autocomplete="off">
                <div class="p-4 border rounded">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.MonDaGoi.MaBan)
                    @Html.HiddenFor(model => model.MonDaGoi.GiaTien)
                    @Html.HiddenFor(model => model.MonDaGoi.ThanhTien)
                    @Html.HiddenFor(model => model.MonDaGoi.PhuPhi)
                    <div class="form-group row">

                        <div class="col-3">
                            Tên món
                            @Html.DropDownListFor(model => model.MonDaGoi.ThucDonId,
                                         new SelectList((List<ThucDon>)TempData["thucDon"], "Id", "TenMon"),
                                         htmlAttributes: new { @class = "form-control border-input tenMon" })
                        </div>

                        <div class="col-3">
                            Giá tiền
                            @Html.TextBoxFor(model => model.MonDaGoi.GiaTien, "{0:N0}", new { @class = "form-control numbers", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.MonDaGoi.GiaTien, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-3">
                            Số lượng
                            @Html.TextBoxFor(model => model.MonDaGoi.SoLuong,
                                     new { @class = "form-control txtSoLuong" })
                            @Html.ValidationMessageFor(model => model.MonDaGoi.SoLuong, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-3">
                            Thành tiền
                            @Html.TextBoxFor(model => model.MonDaGoi.ThanhTien, "{0:N0}", new { @class = "form-control numbers", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.MonDaGoi.ThanhTien, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group ">

                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        @*<a class="btn btn-success" asp-action="DetailsRedirect" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-backward"></i></a>*@
                        <a class="btn btn-success" href="@Url.Action("DetailsRedirect", "BanHangs", new { strUrl = Model.StrUrl })"><i class="fas fa-backward"></i></a>
                    </div>

                </div>
                @*}*@
            </form>
            <form>
                <input id="hidMaTD" type="hidden" name="maTD" />
                <input type="hidden" value="@Model.StrUrl" name="strUrl" />
                <input type="hidden" value="@Model.Ban.MaBan" name="maBan" />
                <input id="hidSoLuong" type="hidden" name="soLuong" />
                <input type="submit" hidden formaction="/MonDaGois/GoiMon" formmethod="get" id="hidSubmit" />
            </form>
        </div>
    </div>
    <!-- /.card -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-warning"></i> Danh sách món</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <div style="overflow-x:auto;">
                @if (Model.MonDaGois != null)
                {
                    <table class="table mytable text-nowrap" id="listAll">
                        <thead>
                            <tr class="table-info">
                                <th>STT</th>
                                <th>@Html.DisplayNameFor(m => m.MonDaGois.FirstOrDefault().ThucDon.TenMon)</th>
                                <th>@Html.DisplayNameFor(m => m.MonDaGois.FirstOrDefault().SoLuong)</th>
                                <th>@Html.DisplayNameFor(m => m.MonDaGois.FirstOrDefault().PhuPhi)</th>
                                <th>@Html.DisplayNameFor(m => m.MonDaGois.FirstOrDefault().ThanhTien)</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @foreach (var item in Model.MonDaGois)
                            {

                                <tr class="cursor-pointer" @*onclick="location.href = '@(Url.Action("Index", "CapThes", new { maCT = item.MaCapThe }))'"*@>

                                    <td>@i</td>
                                    <td>@Html.DisplayFor(m => item.ThucDon.TenMon)</td>
                                    <td>@Html.DisplayFor(m => item.SoLuong)</td>
                                    <td>@Html.DisplayFor(m => item.PhuPhi)</td>
                                    <td>@Html.DisplayFor(m => item.ThanhTien)</td>
                                    <td>
                                        <form action="/MonDaGois/Delete?id=@item.Id" @*asp-route-id="@item.Id"*@ method="post">

                                            <input type="hidden" name="strUrl" value="@Model.StrUrl" />
                                            <input type="hidden" name="maBan" value="@Model.MonDaGoi.MaBan" />
                                            <span id="confirmDeleteSpan_@item.Id" style="display: none">
                                                <span class="text-dark">Bạn có chắc chắn muốn xóa dòng này không?</span>
                                                <button type="submit" class="btn btn-danger">Yes</button>
                                                <a href="#" class="btn btn-primary" onclick="confirmDelete('@item.Id', false)">No</a>
                                            </span>

                                            <span id="deleteSpan_@item.Id">
                                                <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></a>
                                            </span>
                                        </form>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span> No data. </span>
                }
            </div>


            @*////////////////////////////////////////////////////*@

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->

@section Scripts{

    <script src="~/Assets/js/MonDaChon/goiMonController.js"></script>
    <script>
        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
    </script>
    <style>
        .cursor-pointer:hover {
            /*background-color: #3E5C9A;*/
            background-color: #ffc107 !important;
            cursor: pointer;
            color: white;
        }

        .cursor-pointer {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .hoverClass {
            background-color: #3E5C9A;
            color: white;
        }
    </style>
}