@model QLNhaHang.Models.MonDaGoiViewModel

@{
    ViewBag.Title = "TinhTien";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @*<a class="btn btn-outline-info" asp-action="Create" asp-route-strUrl="#"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>*@
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Tính tiền</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-warning"></i> Tính tiền - @Model.Ban.TenBan</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="p-4 border rounded">
                <div id="invoice">

                    <div class="form-group row">

                        <div class="col-4">
                            <div class="col-4">
                                    <img class="float-left" src="~/Assets/Images/binhquoi.jfif" width="50" />
                                    <span class="float-left" style="font-size:12px; font-weight:bold">Làng du lịch bình quới </span>
                                </div>
                            <div class="text-center">
                                <div class="text-bold">@Model.VanPhong.Name</div>
                                <div>@Model.VanPhong.DiaChi</div>
                                <div>@Model.VanPhong.MaSoThue</div>
                            </div>
                            <div>Number ID: @Model.NumberId</div>
                            <div>Ngày: @DateTime.Now</div>
                            <div>Nhân viên: @Model.NhanVien.HoTen</div>
                            <div>Mô tả:</div>

                            <div class="table-responsive">
                                <table class="table mytable text-nowrap" id="listAll">
                                    <thead>
                                        <tr class="table-info">
                                            <th>STT</th>
                                            <th>@Html.DisplayNameFor(m => m.MonDaGois.FirstOrDefault().ThucDon.TenMon)</th>
                                            <th>@Html.DisplayNameFor(m => m.MonDaGois.FirstOrDefault().SoLuong)</th>
                                            <th>@Html.DisplayNameFor(m => m.MonDaGois.FirstOrDefault().ThanhTien)</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i = 1;}
                                        @foreach (var item in Model.MonDaGois)
                                        {

                                            <tr class="cursor-pointer" @*onclick="location.href = '@(Url.Action("Index", "CapThes", new { maCT = item.MaCapThe }))'"*@>

                                                <td>@i</td>
                                                <td>@Html.DisplayFor(m => item.ThucDon.TenMon)</td>
                                                <td class="text-center">@Html.DisplayFor(m => item.SoLuong)</td>
                                                <td>@Html.DisplayFor(m => item.ThanhTien)</td>

                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                                <div> Tổng số lượng: @Model.MonDaGois.Select(x => x.SoLuong).Sum()</div>
                                <div> Tổng tiền: @Html.Raw(Model.TongTien.Value.ToString("N0")) VND</div>

                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>

                <div class="form-group">

                    @*<button class="btn btn-outline-warning " id="btnPrint"><i class="fas fa-print"></i></button>*@

                    <span id="confirmDeleteSpan" style="display: none">
                        <span class="text-dark">Bạn có chắc chắn muốn in không?</span>
                        <button class="btn btn-outline-warning " id="btnPrint">Yes</button>
                        <a href="#" class="btn btn-primary" onclick="confirmDelete(false)">No</a>
                    </span>

                    <span id="deleteSpan">
                        <a href="#" class="btn btn-outline-warning " onclick="confirmDelete(true)"><i class="fas fa-print"></i></a>
                    </span>

                    <a class="btn btn-success btnBack" href="@Url.Action("DetailsRedirect", "BanHangs", new { strUrl = Model.StrUrl })"><i class="fas fa-backward"></i></a>
                </div>

                <form>
                    <input type="hidden" value="@Model.StrUrl" name="strUrl" />
                    <input type="hidden" value="@Model.Ban.MaBan" name="maBan" />
                    <input type="hidden" value="@Model.NumberId" name="numberId" />
                    <input type="submit" hidden formaction="/MonDaGois/TinhTienPost" formmethod="post" id="hidSubmit" />
                </form>

            </div>

        </div>
    </div>
    <!-- /.card -->
</section>



@section Scripts{
    <script>
        function confirmDelete(isDeleteClicked) {
            var deleteSpan = 'deleteSpan';
            var confirmDeleteSpan = 'confirmDeleteSpan';

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }

        $("#btnPrint").off('click').on('click', function () {



            ////Print ele2 with default options
            $("#invoice").print({
                globalStyles: true,
                mediaPrint: false,
                stylesheet: null,
                noPrintSelector: ".no-print",
                iframe: true,
                append: null,
                prepend: null,
                manuallyCopyFormValues: true,
                deferred: $.Deferred(),
                timeout: 750,
                title: null,
                doctype: '<!doctype html>',
                //Use Global styles
                //globalStyles: false,
                //Add link with attrbute media=print
                //mediaPrint: false,
                //Custom stylesheet
                //stylesheet: "http://fonts.googleapis.com/css?family=Inconsolata",
                //Print in a hidden iframe
                //iframe: false,
                //Don't print this
                //noPrintSelector: ".avoid-this"
                //Add this at top
                //prepend: "Hello World!!!<br/>",
                //Add this on bottom
                //append: "<span><br/>Buh Bye!</span>",
                //Log to console when printing is done via a deffered callback
                deferred: $.Deferred().done(function () {
                    //console.log('Printing done', arguments);

                    $('#hidSubmit').click();

                })


            });
        });
    </script>

}